/* Component enclosing tag */
.Contact {
  padding: 1em;
  background: #555;
  width: 220px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  margin: 2px;
}

.star {
  padding: 1em;
  background: #555;
  width: 220px;
  display: flex;
  align-items: center;
  border: 2px solid gold;
  margin: 2px;
}

/* Contact image */
.avatar {
  border-radius: 50%;
  margin-right: 1em;
  width: 48px;
  height: 48px;
}

/* Name */
.name {
  margin: 0 0 0.25rem;
  color: #eee;
}

/* Status text */
.status .status-text {
  /*color: #999;*/
  color: black;
  margin: 0;
  display: inline-block;
}

/* Status (rounded&colored indicator) */
.status .status-online,
.status .status-offline {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.status .status-online {
  background: #aed581;
}

.status .status-offline {
  background: #f4511e;
}
